*{
    margin: 0;
    padding: 0% 1%;
    box-sizing: border-box;
}

html, body{
    width:100%;
    caret-color: transparent;
    font-size: 0.9em;
    font-family: "Arial";//, "メイリオ";

}

body{
    background-color: white;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imagepane{
  display: flex;
  width:100%;
  padding: 0;
}

div.imagebox{
  border: solid;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
  padding: 0.5%;
  margin: 0 0;
  background-color: #D8D8D8;  
}

div.details{
  border: solid;
  position: absolute;
  display: flex-align;
  align-items: center;
  text-align: center;
  border-width: 1px;
  border-radius: 10px;
  padding: 1%;
  margin: 0 0;
  background-color: #D8D8D8;  
}

div.hidebottompane{
  position: absolute;
  background-color: #FFFFFF;
  pointer-events: none; 
}

div.hideallpane{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  pointer-events: none; 
}

img.thumbnail{
  position: relative;
  width:100%;
  height:100%;
  padding: 0 0;
  margin: 0 0;
  object-fit: contain;
  -webkit-user-drag: none;
  pointer-events: none;
}

div.textbox{
  display: table;
  position: relative;
  padding: 0 0;
  margin: 0 0;
  user-select: none; 
  //text-align: center;
  text-align: left; 
  pointer-events: none;
}

h3.text{
  display:table-cell;
  //vertical-align:middle; 
  vertical-align:top;
  width: 100%;
  height: 100%;
}

.backicon{
  position: absolute;
  display: flex;
  padding: 0 0;
  margin: 0 0;
}

img.backimg{
  position: relative;
  width:100%;
  height:100%;
  padding: 0 0;
  margin: 0 0;
  object-fit: contain;
  -webkit-user-drag: none;
}

.displaybutton{
  width: 6em;
  border-radius: 5px;
  background-color: white;
  padding: 0.5em;
  margin: 0 5%;
  color: black;
}

@media screen and (min-width: 400px) {
  #imagepane{
    max-width: 400px;
  }
}